@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
/* Variáveis */
:root {
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFEC9C;
    --cor-secun: #F94D58;
    --cor-secun-clara: #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #EEEEEE;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
}
  

/******************* CSS RESET ****************************/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* a borda faz parte das dimensões do elemento */
    /* background-color: var(--cor-fundo); */
    /* color: var(--cor-texto) */
}

/********************************************/
html{
    font-size: 16px;
    scroll-behavior: smooth; /* Efeito scrool suave */
}

header{
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-prim);
    min-height: 50px; /* Altura mínima */
    flex-wrap: wrap; /* força a quebra de linhas entre elementos flex */
}

#img-logo{
    background-color: transparent;
}

#menu-principal {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-secun);
    min-height: 25px; /* Altura mínima */
    width: 100%;
    margin: 5px;
}

#menu-principal ul{ /* Afeta o <ul> dentro de #menu-principal */    
    list-style: none; /* Tira a decoração dos itens da lista */
    display: flex; /* Container flex - todos itens filhos da horizontal por padrão*/        
}

#menu-principal ul li {
    height: 36px;    
    margin: 0 10px; /* 0 topo, fundo; 10px esquerda e direita */
    display: flex;        
}

#menu-principal ul li a{    
    font-family: var(--fonte-titulo);
    height: 36px;
    /* background-color: green; */
    align-items: center;
    display: flex;
    padding: 0 10px;
    color: var(--cor-texto);
    text-decoration: none; /* Sem sublinhado */
    background-color: var(--cor-secun);
    transition: 300ms; /* Afeta a velocidade dos efeitos  dos hover */
}

#menu-principal ul li a:hover{
    /* filtro que escurece a cor do item (cor de frente + cor de fundo)
        brightness < 1: escurece
        brightness > 1: clareia
    */
    filter: brightness(1.2);
}

main {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: stretch; /* Filhos com 100% da altura do pai */        
    min-height: 200px; /* Altura mínima */
    background-color: var(--cor-fundo-clara);
}

footer {
    display: flex;
    justify-content: space-around; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-fundo);    
    min-height: 50px; /* Altura mínima */
    padding: 20px;
    color: var(--cor-texto);
}

/* Links dentro do footer */
footer a {
    color: var(--cor-prim);
    text-decoration: none; /* Sem sublinhado */
    transition: 400ms;
}

footer a:hover{
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */
    flex-direction: column; /*  itens filhos em coluna (na vertical) */    
    background-color: transparent;        
    flex-grow: 3;
    margin: 20px;
    text-shadow: 1px 1px 1px rgba(255,255, 255, 0.4);
}

/* Regra para o título h1 que está dentro de section */
section > h1{/* O Sinal de > indica que serão atingidos apenas os h1 FILHOS DIRETOS de section */
    text-align: left;
    width: 100%;
    color: var(--cor-fundo);
    font-family: var(--fonte-titulo);
    font-style: italic;
    font-size: 2rem;
    text-shadow: -1px -1px -1px rgba(255, 255, 255, 0.4);
}

aside {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */
    border: 1px dashed darkgray;
    background-color: lightgrey;        
    width: 25%;
    margin: 5px;
}

article {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    flex-wrap: wrap;
    background-color: transparent;            
    margin: 5px;
    min-height: 100px;
    width: 100%;
}
/* Regra para os titulos h1 que estão dentro dos articles */
article > h1{
    text-align: right;
    width: 100%;
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
}

/* Classe cartao-carro */
.cartao-carro{        
    border: 1px solid var(--cor-fundo);
    background-color: var(--cor-fundo);
    width: 300px;
    height: 360px;    
    margin: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.15);
}

/* Regra para link de .cartao-carro */
.cartao-carro a{
    text-decoration: none;
}

.cartao-carro a div{
    transition: 400ms;
}

/* Regra para o link de .cartao-carro quando o mouse sobrevoa */
.cartao-carro a:hover div{
    filter: brightness(1.2);
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.15);
}

/* Regra para div interna de .cartao-carro */
.cartao-carro div{    
    height: 360px;
    border-radius: 16px;
}

/* Regra para imagens dentro de .cartao-carro */
.cartao-carro img{
    width: 100%;    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* Regra para h1 dentro de .cartao-carro */
.cartao-carro h1 {
    margin: 20px;
    font-family: var(--fonte-titulo);
    font-size: 1.75rem;
    color: var(--cor-secun);    
}

/* Regra para p dentro de .cartao-carro */
.cartao-carro p {
    color: var(--cor-texto);
    margin: 0 20px;
}

/* Regras para tela com largura de até 600px */
@media  screen and (max-width: 600px){
        
    main{
        /* Muda a direção dos filhos para coluna (vertical) */
        flex-direction: column; 
    }

    /* section e aside ficam com 100% de largura */
    section, aside {
        width: 100%;
    }
}