@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
/* Variáveis */
:root{
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFEC9C;
    --cor-secun: #F94D58;
    --cor-secun-clara: #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #EEEEEE;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
}

/******************* CSS RESET ****************************/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* a borda faz parte das dimensões do elemento */
    /* background-color: var(--cor-fundo); */
    /* color: var(--cor-texto) */
}

/********************************************/
header{
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-prim);
    min-height: 50px; /* Altura mínima */
    flex-wrap: wrap; /* força a quebra de linhas entre elementos flex */
}

#img-logo{
    background-color: transparent;
}

#menu-principal {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-secun);
    min-height: 25px; /* Altura mínima */
    width: 100%;
    margin: 5px;
}

#menu-principal ul{ /* Afeta o <ul> dentro de #menu-principal */    
    list-style: none; /* Tira a decoração dos itens da lista */
    display: flex; /* Container flex - todos itens filhos da horizontal por padrão*/        
}

#menu-principal ul li {
    height: 36px;    
    margin: 0 10px; /* 0 topo, fundo; 10px esquerda e direita */
    display: flex;        
}

#menu-principal ul li a{    
    font-family: var(--fonte-titulo);
    height: 36px;
    /* background-color: green; */
    align-items: center;
    display: flex;
    padding: 0 10px;
    color: var(--cor-texto);
    text-decoration: none; /* Sem sublinhado */
    background-color: var(--cor-secun);
    transition: 300ms; /* Afeta a velocidade dos efeitos  dos hover */
}

#menu-principal ul li a:hover{
    /* filtro que escurece a cor do item (cor de frente + cor de fundo)
        brightness < 1: escurece
        brightness > 1: clareia
    */
    filter: brightness(1.2);
}

main {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: stretch; /* Filhos com 100% da altura do pai */        
    min-height: 200px; /* Altura mínima */
}

footer {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */    
    background-color: var(--cor-fundo-clara);    
    min-height: 50px; /* Altura mínima */
}

section {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */
    flex-direction: column; /*  itens filhos em coluna (na vertical) */
    border: 1px solid indigo;
    background-color: plum;        
    flex-grow: 3;
    margin: 5px;
}

aside {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */
    border: 1px dashed darkgray;
    background-color: lightgrey;        
    width: 25%;
    margin: 5px;
}

article {
    display: flex;
    justify-content: center; /* centralização vertical horizontal*/
    align-items: center; /* centralização vertical */
    border: 1px solid sienna;
    background-color: linen;            
    margin: 5px;
    min-height: 100px;
    width: 100%;
}

/* Regras para tela com largura de até 600px */
@media  screen and (max-width: 600px){
        
    main{
        /* Muda a direção dos filhos para coluna (vertical) */
        flex-direction: column; 
    }

    /* section e aside ficam com 100% de largura */
    section, aside {
        width: 100%;
    }
}